/*====================================================== Home Page Styles =========================================================================================*/
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  margin: 0 4px;
  background-color: #707070 !important;
}
.owl-dots .owl-dot.active {
  background-color: var(--brand) !important;
}

.slider__item {
  min-height: 100vh;
  padding: 12rem 0 10rem 0;
}
.slider__item .h1 {
  font-size: 2.5rem !important;
  color: #E4E4E4;
}
.slider__item .h1 span {
  color: #E4E4E4;
}
.slider__item .h1 .position__roll {
  bottom: -22%;
  left: 12%;
}

@media (min-width: 2000px) {
  .slider__item {
    min-height: 1080px;
  }
}
.contact__wrapper .form-control, .contact__wrapper .form-select {
  height: 3.25rem;
  border: 1px solid #CBCBCB;
  font-weight: 500;
  padding-left: 1.125rem;
  background-color: #FFFFFF;
  text-align: center;
}
.contact__wrapper .form-control::-moz-placeholder, .contact__wrapper .form-select::-moz-placeholder {
  color: rgba(21, 21, 21, 0.2);
}
.contact__wrapper .form-control::placeholder, .contact__wrapper .form-select::placeholder {
  color: rgba(21, 21, 21, 0.2);
}
.contact__wrapper .btn-primary {
  min-height: 3.25rem;
}

@media (min-width: 767px) {
  .receive__quote {
    margin-top: -13rem;
    background-color: rgba(0, 0, 0, 0.54) !important;
    border-radius: 28px;
  }
}
@media (max-width: 767px) {
  .contact__wrapper {
    background-color: var(--secondary);
  }
}
.service__item img {
  opacity: 0.4;
  height: 4.5rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__item:hover img {
  opacity: 1;
}

.unic_wrap {
  position: relative;
  margin-bottom: 2rem;
}
.unic_wrap::after {
  content: "";
  position: absolute;
  display: block;
  width: 10.5rem;
  height: 3px;
  background-color: #D7121A;
  border-radius: 2.25rem;
  bottom: -0.75rem;
  left: 0;
}
.unic_wrap.center::after {
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 992px) {
  .unic_wrap.lg_right::after {
    right: 0%;
    left: auto;
    width: 4rem;
  }
}
@media (max-width: 574px) {
  .unic_wrap.right::after {
    left: 0;
    right: auto;
  }
}
.why_choose_icon_box {
  width: 5rem;
}

.testimonial__wrapper .caption__box {
  min-height: 18rem;
}
.testimonial__wrapper .author__box .thumbnail {
  width: 4rem;
  height: 4rem;
}
.testimonial__wrapper .author__box .google_box {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  bottom: -0.25rem;
  right: 0rem;
}
.testimonial__wrapper.not__white__theme .text-white {
  color: var(--dark) !important;
}
.testimonial__wrapper.not__white__theme .carousel-control-next-icon, .testimonial__wrapper.not__white__theme .carousel-control-prev-icon {
  filter: contrast(1000%) invert(100%) sepia(100%) saturate(10000%) hue-rotate(90deg);
}

.service__card .icons_box img {
  height: 4.5rem;
  opacity: 0.4;
}
.service__card .title {
  min-height: 3rem;
}
.service__card .scroll {
  height: 13rem;
  overflow-y: auto;
}
.service__card:hover .icons_box img {
  opacity: 1;
}
.service__card:hover img {
  filter: contrast(0) brightness(10);
}

.supply__card .icon__box {
  width: 5rem;
  height: 5rem;
}
.supply__card .icon__box svg {
  width: 2.5rem;
  height: 2.5rem;
}
.supply__card .icon__box svg path {
  fill: var(--brand);
  transition: all 0.3s ease-in-out;
}
.supply__card:hover {
  background-color: rgba(37, 37, 37, 0.1215686275);
}
.supply__card:hover .icon__box {
  background-color: var(--brand);
}
.supply__card:hover .icon__box svg path {
  fill: var(--white);
}

.info__card {
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 1.31rem;
}

.serviceCarousel .owl-stage {
  display: flex;
}
.serviceCarousel .owl-stage .owl-item {
  display: flex;
  padding: 2px;
}
.serviceCarousel .owl-stage .owl-item .service__card {
  width: 100%;
}

@media (min-width: 992px) {
  .positioned__banner__box {
    position: absolute;
    top: 0;
    left: 0%;
    width: 50vw;
    height: auto;
  }
}
@media (min-width: 1920px) {
  .header__wraper {
    min-height: 1080px;
    max-height: 1080px;
  }
  .header__wraper .thumbnail {
    height: 1080px;
  }
  .header__wraper .h1 {
    font-size: 2.75rem;
  }
}
@media (max-width: 991px) {
  .header__wraper .h1 {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 767px) {
  .header__wraper .h1 {
    font-size: 2rem !important;
  }
}
@media (max-width: 575px) {
  .header__wraper .h1 {
    font-size: 2rem !important;
  }
}
.courseCarousel .owl-stage-outer {
  height: calc(100% + 30px);
  margin: -15px;
  padding: 15px;
  width: calc(100% + 30px);
}

.accordion .accordion-item {
  background-color: rgba(13, 103, 153, 0.0901960784);
  border: 1px solid rgba(13, 103, 153, 0.0901960784) !important;
  border-radius: 4px !important;
}
.accordion .accordion-item:not(:last-child) {
  margin-bottom: 1rem;
}
.accordion .accordion-item .accordion-button {
  border: 0;
  box-shadow: none;
  color: var(--secondary);
  font-size: 1.25rem;
  background-color: transparent;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--brand);
  box-shadow: none;
}
.accordion .accordion-item .accordion-button:not(.collapsed) .desc {
  display: block;
}
.accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion .accordion-item .accordion-button::after {
  background-image: none;
}
.accordion .accordion-item .accordion-body {
  padding-top: 0;
  font-size: 0.937rem;
}
.accordion .accordion-item .accordion-body p:last-child {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .accordion .accordion-item .accordion-button {
    font-size: 1.125rem;
  }
  .accordion.faq .accordion-item .accordion-button {
    font-size: 1rem;
  }
}
.page__header {
  min-height: 28rem;
  padding-top: 12rem;
  padding-bottom: 5rem;
}

@media (max-width: 992px) {
  .page__header {
    min-height: 24rem;
    padding-top: 11rem;
  }
}
@media (max-width: 576px) {
  .page__header {
    min-height: 23rem;
    padding-top: 9rem;
    padding-bottom: 4rem;
  }
}
.contact__list .icon {
  width: 3rem;
  height: 3rem;
}

.form-control, .form-select {
  height: 3.5rem;
  border-radius: 0.45rem;
  border-color: #eee;
}

.iti__selected-flag {
  min-width: 95px;
  width: 100%;
}

.iti input, .iti input[type=text], .iti input[type=tel] {
  padding-left: 105px !important;
  font-weight: 400;
}

.iti {
  width: 100%;
}

.iti__country-list {
  max-width: 400px;
}

.team__thumbnail {
  width: 126px !important;
  height: 126px;
}

@media (min-width: 992px) {
  .img__wraper {
    width: 50vw;
    position: absolute;
    top: 0%;
    left: 0%;
  }
}
@media (max-width: 575px) {
  .img__wraper {
    width: 100vw;
  }
  .patient__login {
    width: 41rem !important;
  }
}
@media (max-width: 768px) {
  .img__wraper {
    width: 91vw !important;
  }
  .patient__login {
    width: 48rem !important;
  }
}
.form__gradient {
  background-color: transparent;
  background-image: linear-gradient(180deg, var(--secondary) 40%, #FFFFFF 70%);
  opacity: 0.6;
}

.patient__login {
  width: 50rem;
  z-index: 999;
}
.patient__login .form-control {
  height: 4.25rem;
  border-radius: 0%;
  font-weight: 500;
  padding-left: 1.425rem;
  background-color: #FFFFFF;
}
.patient__login .form-control::-moz-placeholder {
  font-size: 1.25rem;
  color: inherit;
  font-family: inherit;
  opacity: 0.6;
}
.patient__login .form-control::placeholder {
  font-size: 1.25rem;
  color: inherit;
  font-family: inherit;
  opacity: 0.6;
}
.patient__login .form-select {
  width: 100%;
  height: 4.25rem;
  display: block;
  font-size: 1.25rem;
  font-weight: 300;
  color: rgba(19, 49, 76, 0.5);
  background-color: #fff;
  background-image: url("../assets/images/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
}

.faq__wrapper .accordion-body {
  padding-top: 1.5rem !important;
  background-color: #fff !important;
}
.faq__wrapper .accordion-flush .accordion-item {
  border: none !important;
}
.faq__wrapper .accordion-button {
  background-color: var(--secondary) !important;
  box-shadow: none;
  color: #fff !important;
}
.faq__wrapper .accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: var(--secondary) !important;
  box-shadow: none;
}
.faq__wrapper .accordion-button:not(.collapsed)::after {
  background-image: var(--minus-circle-icon) !important;
  background-size: 1.125rem;
}
.faq__wrapper .accordion-button::after {
  background-image: var(--plus-circle-icon) !important;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem;
}
.faq__wrapper .accordion-item {
  margin-bottom: 0.15rem !important;
  border-bottom: 2px solid #fff !important;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .course__card .caption .btn-primary .icon {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */