 
footer {   
    
    
    a { 
        color: var(--white);
        text-transform: capitalize;    
        font-weight: 400;
        font-size: .937rem;
        &:hover { 
            text-decoration: underline;color: var(--blue);
        } 
    }  
  
}

.social__links {
    li {
        margin-bottom: 0; 
        a {
            width: 2.5rem;
            height: 2.5rem;border-radius: 50%;
            

            svg { width: 1.25rem;height: 1.25rem;fill: var(--brand-deep); }

            &:hover, &:focus {
                background-color: var(--dark);color: var(--white);

                svg {
                    fill: white;
                }
            }

            &.fb {
                background-color: #3b5998;
            }
            &.tw {
                background-color: #1da1f2;
            }
            &.you {
                background-color: #cd201f;
            }
        } 
    } 
}
 
/*---------------------- Back to Top Css --------------*/ 
 
.backTop { 
    bottom: 3rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;  
    z-index: 99; 
    display: none;  
    
    &:hover { 
        background-color: var(--dark); 
    }
    &.show {
        display: block;
    }
}
 
 

@media (max-width: 575.99px) {
    footer { 
        .logo img { max-height: 13rem;width: auto; } 
    }
}