

/*====================== Navigation Styles ===================*/ 
.navbar {   
    padding: 0.875rem 0;   
    z-index: 999;  

    .navbar-brand {
        img { height: 5rem; }
    }
  
    .nav-item {
        flex: 1 auto;  
        .nav-link {
            font-size: 1.125rem;  
            color: var(--white); 
            font-weight: 500;
            text-align: center;  
            transition: all .3s ease-in-out; 

            img { position: relative;top: -3px;margin-left: 3px; }
  
            &:hover {
                color: var(--blue);   
            }  
        }
        &.active  {
            position: relative;
            .nav-link { 
                color: var(--blue);   
            } 
            &::after {
                content: '';width: 100%;height: 5px;display: block;background-color: var(--blue);
                position: absolute;top: -1rem;left: 0%;
            }
             
        }
    } 
    /* // .dropdown-toggle::after { 
    //     vertical-align: .1em; 
    //     border-top: .4em solid;
    // }
    // .dropdown {  
    //     -webkit-appearance:none;
    //     .dropdown-menu {
    //         position: absolute;
    //         top: 96%;
    //         left: 19%;
    //         width: 100%; 
    //         max-width: 15rem;
    //         min-width: 12rem; 
    //         transition: all .3s ease;
    //         transform: scaleY(0); 
    //         opacity: 0;padding: 0%;
    //         visibility: hidden;
    //         box-shadow: 0 .25rem .5rem rgba($color: #000000, $alpha: 0.15);

    //         &.service__menu {
    //             min-width: 23rem;
    //         } 

    //         .dropdown-item { 
    //             color: var(--link-color); 
    //             font-size: 1.067rem;  
    //             display: block;font-weight: 500;
    //             padding: .75rem 1rem;
    //             position: relative;  
    //             word-break: break-all;
    //             white-space: pre-line;
 
    //             &:hover, &:focus, &:active {
    //                 color: var(--white); background-color: var(--brand);
    //             }  
    //             &:not(:last-child) {
    //                 border-bottom: 1px solid #eee;
    //             }
    //         }
              
    //         &.show {
    //             transform: scaleY(1);
    //             opacity: 1;
    //             visibility: visible; 
    //         }
    //     } 
        
    //     &:hover {
    //         &>.nav-link {
    //             color: var(--brand); 
    //         }
    //     }
    // } */

     
}
 
.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    background-color: var(--dark);

    .navbar-brand img {
        height: 5rem;width: auto;
    }
    .btn-dark {
        background-color: var(--white);border-color: var(--white);color: var(--dark);

        &:hover, &:focus, &:active {
            background-color: transparent;border-color: var(--white);color: var(--white) !important;
        }
    }
}

.social__links {
    li {
        margin-bottom: 0; 
        a {
            width: 2rem;
            height: 2rem;border-radius: 3px;
            background-color: var(--white); 

            svg { width: 1rem;height: 1rem;fill: var(--brand-deep); }

            &:hover, &:focus {
                background-color: var(--dark);color: var(--white);

                svg {
                    fill: white;
                }
            }
        }

        &:not(:first-child) {
            margin-left: .5rem;
        }
    }
    &.footer {
        li a {
            background-color: var(--dark);
            &:hover, &:focus {
                background-color: var(--brand);color: var(--white);
            }
        }
    }
}


.rainbow-btn { 
    text-align: center;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
    top: 2px;
}
.rainbow-btn {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
        background-size: 50% 100%;
        animation: rainbow-btn .75s linear infinite
    }
    span {
        position: relative;
        z-index: 2;
        padding: .625rem 0;
        font-size: 1.1rem;
        text-decoration: none;
        align-items: center;
        background: #312853;
        border-radius: 3px;
        display: block;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        font-size: 1.125rem; 

        img { position: relative;top: -2px; }
    }

    &:hover {
        background-color: var(--blue); color: var(--white); 
        box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 10px #03e9f4,
        0 0 20px #03e9f4;
    }
}  

@keyframes rainbow-btn {
    to {
        transform: translateX(-50%)
    }
}
  
.download__brochure__btn {
    width: 4rem;transition: width 1s ease-in-out;
    height: 4rem;background: linear-gradient(var(--blue), var(--brand));z-index: 999;right: 0rem;

    span { opacity: 0;visibility: hidden;width: 0;transform: translateX(100%); z-index: -1; 
        position: absolute;top: 0;right: 0%;height: 100%;width: 100%;min-width: 16rem;background: linear-gradient(var(--blue), var(--brand));
        padding: 1rem 4rem 1rem 2rem;color: var(--white);line-height: 2;
        border-radius: 4rem;
    }

    svg { 
        width: 2rem;height: 2rem;
        path { fill: var(--white); }
    }

    &:hover {
        border-radius: 4rem !important;
        span { opacity: 1;visibility: visible;width: auto;transform: translateX(0%); }
    }
}
 

.sideNav {
    z-index: 1050;
    background-color: #00000092;transition: all .3s ease-in-out;
    transform: translateX(100%);opacity: 0;visibility: hidden;

    .content {
        max-width: 440px;margin-left: auto;min-height: 100vh;

        .btn-close { width: 2rem;height: 2rem;min-height: auto;opacity: 1; }

        ul.links__list {
            max-height: calc(100vh - 3rem);
            overflow-y: auto;
            li {
                border-bottom: 1px solid #eee; 
                
                a { 
                    font-size: 1.125rem;
                    display: flex;padding: .875rem 1rem; 
                    color: var(--link-color);text-transform: capitalize;
                    justify-content: space-between;align-self: center; 

                    &.btn__link {
                        width: calc(100% - 3rem);
                    }

                    &.collapse__btn { 
                        border-left: 1px solid #eee;
                        &::after {
                            content: '\002B';font-family: inherit;font-size: 1.5rem;line-height: 1;
                            color: var(--link-color);
                        }
                        &:not(.collapsed) {
                            color: var(--brand);
                            &::after {
                                content: '\2212';color: var(--brand);
                            }
                        }
                    }

                    &:hover, &:focus, &:active {
                        color: var(--brand);
                    }
                }
                .collapse {
                    li:first-child { border-top: 1px solid #eee; }
                    a {
                        word-break: break-all;
                        white-space: pre-line;
                    }
                }
            }
        }
    }

    &.js--open {
        transform: translateX(0%);opacity: 1;visibility: visible;
    }
}
 

.booking__modal {
    .modal-dialog {
        max-width: 700px;
    }
}

@media (max-width:1680px) {
    .brochure__btn { display: none; }
}
 
 
@media (min-width:992px) {
    .navbar .dropdown{
        .dropdown-menu {
            display: block;
        }
        &:hover {
            .dropdown-menu { 
                transform: scaleY(1);
                opacity: 1;
                visibility: visible; 
            }
        }
    }
}
 
 
 
@media (max-width:1300px) {  
    .navbar .nav-item .nav-link {
        font-size: 1rem; 
    } 
}

@media (max-width:1200px) {  
    .navbar {   
        .nav-link {
            font-size: 14px;
        }   
    } 
}
@media (min-width:992px) and (max-width:1100px) {
    .navbar .nav-item .nav-link .caret {
        width: 8px;
        height: 5px;
    }
}
@media (max-width:992px) {
    .navbar {
        .container-fluid.right {
            max-width: calc(100% - 80px);margin-right: auto;padding-right: .65rem;
        }
    }
     
}

 
@media (max-width:576px) { 
    .navbar {  
        .container-fluid.right { max-width: calc(100% - 14px); }
        .navbar-brand img {
            max-height: 3.5rem;
        }
        &.fixed-top {
            padding: 0;
            .navbar-brand img {
                max-height: 3rem;
            } 
        }
    }
    .sideNav .content {
        max-width: 100%;
    } 
    
}
 

@media (min-width: 2000px) {
    .navbar.fixed-top {
        .container, .container-fluid {
            max-width: 1920px; 
        }
    }
}