.page__header {
    min-height: 28rem;
    padding-top: 12rem;
    padding-bottom: 5rem; 
}

@media (max-width:992px) {
    .page__header {
        min-height: 24rem; 
        padding-top: 11rem;
      }
}
@media (max-width:576px) {
    .page__header {
        min-height: 23rem;
        padding-top: 9rem; 
        padding-bottom: 4rem;
      }
}


.caption__card{
    background-color: #F0F0F0;
}

.certificates__wrap{
    .services__card{
        background-color: #FCFAFA;
        border: 1px solid #FBF6F2; 
        transition: all 0.4s ease-in-out;
        .title{
            color: var(--brand); 
            transition: all 0.4s ease-in-out;
        }
        &:hover{
            background-color: var(--brand);
            color: var(--white);
            .title{
                color: var(--white);
            }
        } 
    }
}


.program__card{
    border: 1px solid rgba(112, 112, 112, 0.341);
    border-radius: 10px;
    
    .footer__caption {
        .left__caption {
            width: calc(100% - 9rem);
        }
        .action__box {
            width: 9rem;text-align: right;
        }
    }
}

@media (max-width: 1400px) {
    .program__card{ 
        .footer__caption {
            .left__caption {
                width: calc(100% - 8rem);
            }
            .action__box {
                width: 8rem; 
            }
        }
    }
}

.gallery__wrapper {
    .md__thumb { height: 320px; }
    .lg__thumb { height: 420px; }
    .sm__thumb { height: 220px; }

    .galleryItem {
        position: relative;

        &::after {
            content: '';width: calc(100% - 1rem);height: calc(100% - 1rem);
            position: absolute;top: .5rem;left: .5rem;
            background: var(--eye) no-repeat center center / 1.5rem;
            background-color: #000000b9;opacity: 0;visibility: hidden;transition: all .3s ease-in-out;
        }

        &:hover::after { opacity: 1;visibility: visible; }
    }
}

@media(max-width:1200px) {
    .gallery__wrapper {
        .md__thumb { height: 255px; }
        .lg__thumb { height: 360px; }
        .sm__thumb { height: 150px; }
    }
}

@media(max-width:991px) {
    .gallery__wrapper {
        .md__thumb { height: 200px; }
        .lg__thumb { height: 270px; }
        .sm__thumb { height: 130px; }
    }
}

@media(max-width:767px) {
    .gallery__wrapper {
        .cols { 
            a {
                width: calc(50% - 4px);
            }
        }
        .md__thumb, .lg__thumb, .sm__thumb { height: 180px; }
    }
}

@media(max-width:767px) {
    .gallery__wrapper { 
        .md__thumb, .lg__thumb, .sm__thumb { height: 150px; }
    }
}

.appointment__wrapper {
    background-color: #bd752229;border-radius: 1.25rem;

}
.form-control {
    height: 3.25rem;border-color: #E0E0E0;

    &:hover, &:focus {
        border-color: var(--brand);
    }
}
textarea.form-control { height: auto; }

.card__hight{
    .title{
        min-height: 3rem !important;
    }
}

 

// our team start
.our__team{
     
    .img__wrap{
        width: 126px !important;
        height: 126px;
    }
}
// our team End
