.page__header {
    min-height: 28rem;
    padding-top: 12rem;
    padding-bottom: 5rem; 
}

@media (max-width:992px) {
    .page__header {
        min-height: 24rem; 
        padding-top: 11rem;
      }
}
@media (max-width:576px) {
    .page__header {
        min-height: 23rem;
        padding-top: 9rem; 
        padding-bottom: 4rem;
      }
}

.contact__list { 

    .icon { width: 3rem;height: 3rem; }
}

.form-control, .form-select {
    height: 3.5rem;border-radius: .45rem;border-color: #eee;
}
.iti__selected-flag { min-width: 95px;width: 100%; }
.iti input, .iti input[type="text"], .iti input[type="tel"] { padding-left: 105px !important;font-weight: 400; }
.iti { width: 100%; }
.iti__country-list { max-width: 400px; }
 

 

 
  

 

// our team start
.team__thumbnail{
    width: 126px !important;
    height: 126px;
}
 
// our team End


@media (min-width:992px) {

    .img__wraper{
        width: 50vw; position: absolute;top: 0%;left: 0%;
    }
}

@media (max-width:575px) {
    .img__wraper{
        width: 100vw; 
    }

    .patient__login {
        width: 41rem !important; 
    }
}
@media (max-width:768px) {
    .img__wraper{
        width: 91vw !important; 
    }

    .patient__login {
        width: 48rem !important; 
    }
}
 

.form__gradient{
   
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --secondary ) 40%, #FFFFFF 70%);
    opacity: 0.6;
     
}
.patient__login {
    width: 50rem;
    z-index: 999;
   
    .form-control {
        height: 4.25rem; 
        border-radius: 0%;
        font-weight: 500;
        padding-left: 1.425rem;
        background-color: #FFFFFF; 
         
    } 
    .form-control::placeholder {
        font-size: 1.25rem;
        color: inherit;
        font-family: inherit;
        opacity: .6;
    } 

    .form-select {
        width: 100%;
        height: 4.25rem; 
        display: block;  
        font-size: 1.25rem;
        font-weight: 300; 
        color: rgba(19, 49, 76, 0.5);
        background-color: #fff;
        background-image: url('../assets/images/icons/down-arrow.svg');
        background-repeat: no-repeat; 
        background-size: 17px 17px;  
    }
}


.faq__wrapper { 

    .accordion-body{
        padding-top: 1.5rem !important;
        background-color: #fff !important;
       
    }

    .accordion-flush .accordion-item { 
        border: none !important;
      }
    
    .accordion-button{ 
        background-color: var(--secondary) !important;
        box-shadow: none;
        color: #fff !important;    

        &:not(.collapsed) {
            color:#fff !important;
            background-color:  var(--secondary) !important; 
            box-shadow: none;
           
            &::after{
                background-image:var(--minus-circle-icon) !important;background-size: 1.125rem;
            }
        }
        &::after{
            background-image:var(--plus-circle-icon) !important;
            width: 1.5rem;
            height: 1.5rem;
            background-size: 1.5rem;
        }
    }
    .accordion-item {
        margin-bottom: .15rem !important; 
        border-bottom: 2px solid #fff !important;
        
    } 
}
 
