.page__header {
    min-height: 28rem;
    padding-top: 12rem;
    padding-bottom: 5rem; 
}

@media (max-width:992px) {
    .page__header {
        min-height: 24rem; 
        padding-top: 11rem;
      }
}
@media (max-width:576px) {
    .page__header {
        min-height: 23rem;
        padding-top: 9rem; 
        padding-bottom: 4rem;
      }
}

.contact__list { 

    .icon { width: 3rem;height: 3rem; }
}

.form-control, .form-select {
    height: 3.5rem;border-radius: .45rem;border-color: #eee;
}
.iti__selected-flag { min-width: 95px;width: 100%; }
.iti input, .iti input[type="text"], .iti input[type="tel"] { padding-left: 105px !important;font-weight: 400; }
.iti { width: 100%; }
.iti__country-list { max-width: 400px; }